@{
    ViewData["Title"] = "Day 4/5 Index Page";
}

<div class="text-center">
    <h2>Display the Examples of Day 4</h2>
    <ul>
        <li>@Html.ActionLink("HTML Helpers", "HtmlHelper", "Day4")</li>
        <li>@Html.ActionLink("Tag Helpers", "TagHelperDemo", "Day4")</li>

    </ul>
</div>
