@{
    ViewData["Title"] = "Day 3 Index Page";
}

<div class="text-center">
    <h2>Display the Examples of Day 3</h2>
    <ul>
        <li><a class="nav-link dropdown-item text-dark" asp-area="" asp-controller="Day3" asp-action="BasicPage">Basic Razor Pages</a></li>
        <li>@Html.ActionLink("If Condition Pages", "IfConditionPage", "Day3")</li>
        <li><a class="nav-link dropdown-item text-dark" asp-area="" asp-controller="Day3" asp-action="ForConditionPage">For Loop Pages</a></li>

    </ul>
</div>
