@{
    ViewData["Title"] = "Day 6 Index Page";
}

<div class="text-center">
    <h2>Display the Examples of Day 6</h2>
    <ul>
        <li>@Html.ActionLink("View Model", "ViewModel", "Day6")</li>
        <li>@Html.ActionLink("Explicit Server Validation", "ExplicitServer", "Day6")</li>

    </ul>
</div>